<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ychat.common.user.mapper.UserBackpackMapper">

    <update id="useItem" parameterType="com.ychat.common.user.domain.entity.UserBackpack">
        UPDATE user_backpack
        SET status = 1
        WHERE id = #{id}
    </update>
</mapper>
